fastapi
uvicorn[standard]
pandas
scikit-learn
scipy
numpy
joblib
sqlalchemy
watchdog
scapy
cicflowmeter
requests
streamlit
plotly
netifaces
confluent-kafka
kafka-python-ng
imbalanced-learn
xgboost
openpyxl
seaborn
matplotlib
mlflow
tensorflow
watchfiles
